.whole{
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topic{
  background-color: rgb(80, 80, 80);
  margin-left: 15px;
  margin-right: 15px;
  color: rgb(228, 228, 228);
  text-align: center;
}
.head{
  margin-bottom: 15px;
}
.leftSide{
  margin-left: 1%;
  margin-top: 1%;
  background-color: rgb(228, 228, 228);
  color: rgb(75, 75, 75);
}
.via{
  margin-top: 5px;
}
.picture{
  border-radius: 50%;
  margin: 3px 3px 3px 15px;
}
a:link{
  text-decoration: none;
  color: rgb(75, 75, 75);
}
a:visited{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:hover{
  color: brown;
}
.information{
  margin-left: 15px;
  padding-top: 10px;
  line-height: 10px;
}


.rightSide{
  margin-top: 1%;
}
#topbox{
  background-color:rgb(80, 80, 80) ;
  margin: 1% 30% 1% 30%;
  padding: 10px;
  text-align: center;
  font-size: 36px;
  color:  rgb(228, 228, 228);
}
/*#profile {
  padding-top:50px;
  height:500px;
  color: #fff; 
  background-color: #1E88E5;
}
#experience {
  padding-top:50px;
  height:500px;
  color: #fff; 
  background-color: #673ab7;
}*/

#navbar-example2{
  margin: 2%;
}
.info{
  margin : 2%;
}